numpy==1.24.2
openai==0.27.1
pandas==1.5.3
redis==4.5.1
requests==2.28.2
streamlit==1.20.0
streamlit_chat==0.0.2.2
termcolor==2.2.0
jupyter
ipykernel
textract
tiktoken
ipython>=8.10.0 # not directly required, pinned by Snyk to avoid a vulnerability
jinja2>=3.1.4 # not directly required, pinned by Snyk to avoid a vulnerability
jupyter-core>=4.11.2 # not directly required, pinned by Snyk to avoid a vulnerability
jupyterlab>=3.6.8 # not directly required, pinned by Snyk to avoid a vulnerability
mistune>=2.0.3 # not directly required, pinned by Snyk to avoid a vulnerability
nbconvert>=6.3.0b0 # not directly required, pinned by Snyk to avoid a vulnerability
notebook>=6.4.12 # not directly required, pinned by Snyk to avoid a vulnerability
pillow>=9.2.0 # not directly required, pinned by Snyk to avoid a vulnerability
prompt-toolkit>=3.0.13 # not directly required, pinned by Snyk to avoid a vulnerability
pygments>=2.15.0 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=70.0.0 # not directly required, pinned by Snyk to avoid a vulnerability
tornado>=6.4.1 # not directly required, pinned by Snyk to avoid a vulnerability